.block {
    width: 250px;
    height: 250px;
    background-color: blueviolet;
}
.wraper-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    background-color: yellow;
}

.container {
    max-width: 1170px;
    width:80%;
    margin: 0 auto;
    background-color:aquamarine;
    height: 400px;
}

/* icons fontawesome */
.fa-facebook {
    color: blue;
    font-size:30px;
    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    transition: all 5s linear 2s;
}
.yout-icon {
    color: red;
    font-size:30px;
}
.fa-facebook:hover {
    color:blueviolet;
}

/* header styles */
.header-flex {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    padding: 30px;
}
.nav-ul {
    display: flex;
}
.burger-bar {
    color: red;
    font-size:25px;
    display: none;
}